@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.main {
  flex: 1 0 auto;
}